<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.member.mapper.GoodsBannerMapper">
    
    <resultMap type="GoodsBanner" id="GoodsBannerResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="isEnabled"    column="is_enabled"    />
        <result property="sortOrder"    column="sort_order"    />
        <result property="link"    column="link"    />
        <result property="media"    column="media"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectGoodsBannerVo">
        select id, name, type, is_enabled, sort_order, link, media, remarks from goods_banner
    </sql>

    <select id="selectGoodsBannerList" parameterType="GoodsBanner" resultMap="GoodsBannerResult">
        <include refid="selectGoodsBannerVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="isEnabled != null  and isEnabled != ''"> and is_enabled = #{isEnabled}</if>
            <if test="sortOrder != null "> and sort_order = #{sortOrder}</if>
            <if test="link != null  and link != ''"> and link = #{link}</if>
            <if test="media != null  and media != ''"> and media = #{media}</if>
            <if test="remarks != null  and remarks != ''"> and remarks = #{remarks}</if>
        </where>
    </select>
    
    <select id="selectGoodsBannerById" parameterType="Long" resultMap="GoodsBannerResult">
        <include refid="selectGoodsBannerVo"/>
        where id = #{id}
    </select>

    <insert id="insertGoodsBanner" parameterType="GoodsBanner" useGeneratedKeys="true" keyProperty="id">
        insert into goods_banner
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled,</if>
            <if test="sortOrder != null">sort_order,</if>
            <if test="link != null">link,</if>
            <if test="media != null">media,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="isEnabled != null and isEnabled != ''">#{isEnabled},</if>
            <if test="sortOrder != null">#{sortOrder},</if>
            <if test="link != null">#{link},</if>
            <if test="media != null">#{media},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateGoodsBanner" parameterType="GoodsBanner">
        update goods_banner
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="isEnabled != null and isEnabled != ''">is_enabled = #{isEnabled},</if>
            <if test="sortOrder != null">sort_order = #{sortOrder},</if>
            <if test="link != null">link = #{link},</if>
            <if test="media != null">media = #{media},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsBannerById" parameterType="Long">
        delete from goods_banner where id = #{id}
    </delete>

    <delete id="deleteGoodsBannerByIds" parameterType="String">
        delete from goods_banner where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
