<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.member.mapper.GoodsRechargeRecordMapper">
    
    <resultMap type="GoodsRechargeRecord" id="GoodsRechargeRecordResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="amount"    column="amount"    />
        <result property="withdrawalType"    column="withdrawal_type"    />
        <result property="giftAmount"    column="gift_amount"    />
        <result property="receivedAmount"    column="received_amount"    />
        <result property="status"    column="status"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="transactionType"    column="transaction_type"    />
        <result property="orderNumber"    column="order_number"    />
        <result property="isHidden"    column="is_hidden"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"  column="update_time"  />
        <!-- 从 order_user 联表得到的额外字段 -->
        <result property="username" column="username" />
        <result property="phoneNumber" column="phone_number" />
        <result property="parentUsername" column="parent_username" />
        <result property="isFake" column="is_fake" />
        <result property="rechargeAccount" column="recharge_account" />
    </resultMap>

    <sql id="selectGoodsRechargeRecordVo">
        select gr.id, gr.user_id, gr.amount, gr.withdrawal_type, gr.gift_amount,
               gr.received_amount, gr.status, gr.create_time, gr.remark, gr.transaction_type,
               gr.order_number, gr.is_hidden, gr.update_by, gr.update_time,
               -- 用户表字段
               ou.username as username, ou.phone_number as phone_number,
               pu.username as parent_username, ou.is_fake as is_fake,
               gr.recharge_account as recharge_account
        from goods_recharge_record gr
        left join order_user ou on gr.user_id = ou.id
        left join order_user pu on ou.parent_id = pu.id
    </sql>

    <select id="selectGoodsRechargeRecordList" parameterType="GoodsRechargeRecord" resultMap="GoodsRechargeRecordResult">
        <include refid="selectGoodsRechargeRecordVo"/>
        <where>  
            <if test="userId != null "> and gr.user_id = #{userId}</if>
            <if test="username != null and username != ''"> and ou.username = #{username}</if>
            <if test="phoneNumber != null and phoneNumber != ''"> and ou.phone_number = #{phoneNumber}</if>
            <if test="parentUsername != null and parentUsername != ''"> and pu.username = #{parentUsername}</if>
            <if test="accountAddress != null and accountAddress != ''">
                and gr.recharge_account like concat('%', #{accountAddress}, '%')
            </if>
            <if test="orderNumber != null  and orderNumber != ''"> and gr.order_number = #{orderNumber}</if>
            <if test="withdrawalType != null and withdrawalType != ''"> and gr.withdrawal_type = #{withdrawalType}</if>
            <if test="status != null and status != ''"> and gr.status = #{status}</if>
            <if test="isFake != null and isFake != ''"> and ou.is_fake = #{isFake}</if>
            <if test="transactionType != null and transactionType != ''"> and gr.transaction_type = #{transactionType}</if>
            <if test="isHidden != null and isHidden != ''"> and gr.is_hidden = #{isHidden}</if>
            <if test="params.amountMin != null and params.amountMin != ''">
                and gr.amount &gt;= #{params.amountMin}
            </if>
            <if test="params.amountMax != null and params.amountMax != ''">
                and gr.amount &lt;= #{params.amountMax}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and gr.create_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and gr.create_time &lt;= #{params.endTime}
            </if>
        </where>
        order by gr.create_time desc, gr.id desc
    </select>
    
    <select id="selectGoodsRechargeRecordById" parameterType="Long" resultMap="GoodsRechargeRecordResult">
        <include refid="selectGoodsRechargeRecordVo"/>
        where gr.id = #{id}
    </select>

    <insert id="insertGoodsRechargeRecord" parameterType="GoodsRechargeRecord" useGeneratedKeys="true" keyProperty="id">
        insert into goods_recharge_record
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="withdrawalType != null and withdrawalType != ''">withdrawal_type,</if>
            <if test="giftAmount != null">gift_amount,</if>
            <if test="receivedAmount != null">received_amount,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="transactionType != null and transactionType != ''">transaction_type,</if>
            <if test="orderNumber != null and orderNumber != ''">order_number,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="rechargeAccount != null">recharge_account,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="withdrawalType != null and withdrawalType != ''">#{withdrawalType},</if>
            <if test="giftAmount != null">#{giftAmount},</if>
            <if test="receivedAmount != null">#{receivedAmount},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="transactionType != null and transactionType != ''">#{transactionType},</if>
            <if test="orderNumber != null and orderNumber != ''">#{orderNumber},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="rechargeAccount != null">#{rechargeAccount},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateGoodsRechargeRecord" parameterType="GoodsRechargeRecord">
        update goods_recharge_record
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="withdrawalType != null and withdrawalType != ''">withdrawal_type = #{withdrawalType},</if>
            <if test="giftAmount != null">gift_amount = #{giftAmount},</if>
            <if test="receivedAmount != null">received_amount = #{receivedAmount},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="transactionType != null and transactionType != ''">transaction_type = #{transactionType},</if>
            <if test="orderNumber != null and orderNumber != ''">order_number = #{orderNumber},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="rechargeAccount != null">recharge_account = #{rechargeAccount},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            update_time = now(3),
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsRechargeRecordById" parameterType="Long">
        delete from goods_recharge_record where id = #{id}
    </delete>

    <delete id="deleteGoodsRechargeRecordByIds" parameterType="String">
        delete from goods_recharge_record where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPublicByUserId" parameterType="Long" resultMap="GoodsRechargeRecordResult">
        select id, user_id, amount, withdrawal_type, gift_amount, received_amount,
               status, create_time, remark, transaction_type, order_number, is_hidden
        from goods_recharge_record
        where user_id = #{userId} and COALESCE(is_hidden, '1') != '0'
        order by create_time desc, id desc
    </select>

    <select id="selectForUpdate" resultMap="GoodsRechargeRecordResult">
        <include refid="selectGoodsRechargeRecordVo"/>
        where gr.id = #{id}
        for update
    </select>

    <update id="transitionStatus">
        update goods_recharge_record
        set status = #{targetStatus},
            remark = #{remark},
            update_by = COALESCE(NULLIF(#{updateBy}, ''), 'system'),
            update_time = now(3)
        where id = #{id}
          and status = #{expectedStatus}
    </update>
</mapper>
