<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.member.mapper.GoodsWithdrawalAccountMapper">
    
    <resultMap type="GoodsWithdrawalAccount" id="GoodsWithdrawalAccountResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="withdrawalTypeId"    column="withdrawal_type_id"    />
        <result property="withdrawalType"    column="withdrawal_type"    />
        <result property="isDefault"    column="is_default"    />
        <result property="bankName"    column="bank_name"    />
        <result property="depositType"    column="deposit_type"    />
        <result property="branchCode"    column="branch_code"    />
        <result property="branchName"    column="branch_name"    />
        <result property="bankAccount"    column="bank_account"    />
        <result property="accountHolder"    column="account_holder"    />
        <result property="accountName"    column="account_name"    />
        <result property="walletName"    column="wallet_name"    />
        <result property="walletAddress"    column="wallet_address"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectGoodsWithdrawalAccountVo">
        select gwa.id, gwa.user_id, gwa.type, gwa.withdrawal_type_id,
               gwa.is_default, gwa.bank_name, gwa.deposit_type, gwa.branch_code, gwa.branch_name,
               gwa.bank_account, gwa.account_holder, gwa.account_name, gwa.wallet_name, gwa.wallet_address, gwa.create_time ,
               owt.name as withdrawal_type
               from goods_withdrawal_account  gwa
               left join order_withdrawal_type owt on gwa.withdrawal_type_id = owt.id
    </sql>

    <select id="selectGoodsWithdrawalAccountList" parameterType="GoodsWithdrawalAccount" resultMap="GoodsWithdrawalAccountResult">
        <include refid="selectGoodsWithdrawalAccountVo"/>
        <where>  
            <if test="userId != null "> and gwa.user_id = #{userId}</if>
            <if test="type != null  and type != ''"> and gwa.type = #{type}</if>
        </where>
    </select>
    
    <select id="selectGoodsWithdrawalAccountById" parameterType="Long" resultMap="GoodsWithdrawalAccountResult">
        <include refid="selectGoodsWithdrawalAccountVo"/>
        where gwa.id = #{id}
    </select>

    <insert id="insertGoodsWithdrawalAccount" parameterType="GoodsWithdrawalAccount" useGeneratedKeys="true" keyProperty="id">
        insert into goods_withdrawal_account
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="withdrawalTypeId != null">withdrawal_type_id,</if>
            <if test="isDefault != null and isDefault != ''">is_default,</if>
            <if test="bankName != null">bank_name,</if>
            <if test="depositType != null">deposit_type,</if>
            <if test="branchCode != null">branch_code,</if>
            <if test="branchName != null">branch_name,</if>
            <if test="bankAccount != null">bank_account,</if>
            <if test="accountHolder != null">account_holder,</if>
            <if test="accountName != null">account_name,</if>
            <if test="walletName != null">wallet_name,</if>
            <if test="walletAddress != null">wallet_address,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="withdrawalTypeId != null">#{withdrawalTypeId},</if>
            <if test="isDefault != null and isDefault != ''">#{isDefault},</if>
            <if test="bankName != null">#{bankName},</if>
            <if test="depositType != null">#{depositType},</if>
            <if test="branchCode != null">#{branchCode},</if>
            <if test="branchName != null">#{branchName},</if>
            <if test="bankAccount != null">#{bankAccount},</if>
            <if test="accountHolder != null">#{accountHolder},</if>
            <if test="accountName != null">#{accountName},</if>
            <if test="walletName != null">#{walletName},</if>
            <if test="walletAddress != null">#{walletAddress},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateGoodsWithdrawalAccount" parameterType="GoodsWithdrawalAccount">
        update goods_withdrawal_account
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="withdrawalTypeId != null">withdrawal_type_id = #{withdrawalTypeId},</if>
            <if test="isDefault != null and isDefault != ''">is_default = #{isDefault},</if>
            <if test="bankName != null">bank_name = #{bankName},</if>
            <if test="depositType != null">deposit_type = #{depositType},</if>
            <if test="branchCode != null">branch_code = #{branchCode},</if>
            <if test="branchName != null">branch_name = #{branchName},</if>
            <if test="bankAccount != null">bank_account = #{bankAccount},</if>
            <if test="accountHolder != null">account_holder = #{accountHolder},</if>
            <if test="accountName != null">account_name = #{accountName},</if>
            <if test="walletName != null">wallet_name = #{walletName},</if>
            <if test="walletAddress != null">wallet_address = #{walletAddress},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsWithdrawalAccountById" parameterType="Long">
        delete from goods_withdrawal_account where id = #{id}
    </delete>

    <delete id="deleteGoodsWithdrawalAccountByIds" parameterType="String">
        delete from goods_withdrawal_account where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
