<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.member.mapper.GoodsTransactionFlowMapper">
    
    <resultMap type="GoodsTransactionFlow" id="GoodsTransactionFlowResult">
        <result property="id"    column="id"    />
        <result property="serialCode"    column="serial_code"    />
        <result property="userId"    column="user_id"    />
        <result property="transactionType"    column="transaction_type"    />
        <result property="balanceBefore"    column="balance_before"    />
        <result property="transactionAmount"    column="transaction_amount"    />
        <result property="balanceAfter"    column="balance_after"    />
        <result property="isHidden"    column="is_hidden"    />
        <result property="transactionCode"    column="transaction_code"    />
        <result property="createdTime"    column="created_time"    />
        <result property="remark"    column="remark"    />
        <!-- 来自 order_user 的用户名 -->
        <result property="username" column="username" />
    </resultMap>

    <sql id="selectGoodsTransactionFlowVo">
        select gtf.id, gtf.serial_code, gtf.user_id, gtf.transaction_type, gtf.balance_before, gtf.transaction_amount, gtf.balance_after, gtf.is_hidden, gtf.transaction_code, gtf.created_time, gtf.remark,
               ou.username as username
        from goods_transaction_flow gtf
        left join order_user ou on gtf.user_id = ou.id
    </sql>

    <select id="selectGoodsTransactionFlowList" parameterType="GoodsTransactionFlow" resultMap="GoodsTransactionFlowResult">
        <include refid="selectGoodsTransactionFlowVo"/>
        <where>  
            <if test="serialCode != null  and serialCode != ''"> and gtf.serial_code = #{serialCode}</if>
            <if test="userId != null "> and gtf.user_id = #{userId}</if>
            <if test="username != null and username != ''"> and ou.username = #{username}</if>
            <if test="transactionType != null and transactionType != ''"> and gtf.transaction_type = #{transactionType}</if>
            <if test="isHidden != null and isHidden != ''"> and gtf.is_hidden = #{isHidden}</if>
            <if test="transactionCode != null and transactionCode != ''"> and gtf.transaction_code = #{transactionCode}</if>
            <if test="params.amountMin != null and params.amountMin != ''">
                and gtf.transaction_amount &gt;= #{params.amountMin}
            </if>
            <if test="params.amountMax != null and params.amountMax != ''">
                and gtf.transaction_amount &lt;= #{params.amountMax}
            </if>
            <if test="params.beginTime != null and params.beginTime != ''">
                and gtf.created_time &gt;= #{params.beginTime}
            </if>
            <if test="params.endTime != null and params.endTime != ''">
                and gtf.created_time &lt;= #{params.endTime}
            </if>
        </where>
        order by gtf.created_time desc
    </select>
    
    <select id="selectGoodsTransactionFlowById" parameterType="Long" resultMap="GoodsTransactionFlowResult">
        <include refid="selectGoodsTransactionFlowVo"/>
        where gtf.id = #{id}
    </select>

    <insert id="insertGoodsTransactionFlow" parameterType="GoodsTransactionFlow" useGeneratedKeys="true" keyProperty="id">
        insert into goods_transaction_flow
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="serialCode != null">serial_code,</if>
            <if test="userId != null">user_id,</if>
            <if test="transactionType != null">transaction_type,</if>
            <if test="balanceBefore != null">balance_before,</if>
            <if test="transactionAmount != null">transaction_amount,</if>
            <if test="balanceAfter != null">balance_after,</if>
            <if test="isHidden != null">is_hidden,</if>
            <if test="transactionCode != null">transaction_code,</if>
            <if test="createdTime != null">created_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="serialCode != null">#{serialCode},</if>
            <if test="userId != null">#{userId},</if>
            <if test="transactionType != null">#{transactionType},</if>
            <if test="balanceBefore != null">#{balanceBefore},</if>
            <if test="transactionAmount != null">#{transactionAmount},</if>
            <if test="balanceAfter != null">#{balanceAfter},</if>
            <if test="isHidden != null">#{isHidden},</if>
            <if test="transactionCode != null">#{transactionCode},</if>
            <if test="createdTime != null">#{createdTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateGoodsTransactionFlow" parameterType="GoodsTransactionFlow">
        update goods_transaction_flow
        <trim prefix="SET" suffixOverrides=",">
            <if test="serialCode != null">serial_code = #{serialCode},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="transactionType != null">transaction_type = #{transactionType},</if>
            <if test="balanceBefore != null">balance_before = #{balanceBefore},</if>
            <if test="transactionAmount != null">transaction_amount = #{transactionAmount},</if>
            <if test="balanceAfter != null">balance_after = #{balanceAfter},</if>
            <if test="isHidden != null">is_hidden = #{isHidden},</if>
            <if test="transactionCode != null">transaction_code = #{transactionCode},</if>
            <if test="createdTime != null">created_time = #{createdTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGoodsTransactionFlowById" parameterType="Long">
        delete from goods_transaction_flow where id = #{id}
    </delete>

    <delete id="deleteGoodsTransactionFlowByIds" parameterType="String">
        delete from goods_transaction_flow where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectPublicByUserId" parameterType="Long" resultMap="GoodsTransactionFlowResult">
        select id, serial_code, user_id, transaction_type, balance_before,
               transaction_amount, balance_after, is_hidden, transaction_code,
               created_time, remark
        from goods_transaction_flow
        where user_id = #{userId} and COALESCE(is_hidden, '1') != '0'
        order by created_time desc, id desc
    </select>
</mapper>
