<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.member.mapper.OrderSiteMessageMapper">
    
    <resultMap type="OrderSiteMessage" id="OrderSiteMessageResult">
        <result property="id"    column="id"    />
        <result property="title"    column="title"    />
        <result property="memberList"    column="member_list"    />
        <result property="isEnabled"    column="is_enabled"    />
        <result property="createTime"    column="create_time"    />
        <result property="content"    column="content"    />
    </resultMap>

    <sql id="selectOrderSiteMessageVo">
        select id, title, member_list, is_enabled, create_time, content from order_site_message
    </sql>

    <select id="selectOrderSiteMessageList" parameterType="OrderSiteMessage" resultMap="OrderSiteMessageResult">
        <include refid="selectOrderSiteMessageVo"/>
        <where>  
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="memberList != null  and memberList != ''"> and member_list = #{memberList}</if>
            <if test="isEnabled != null "> and is_enabled = #{isEnabled}</if>
            <if test="content != null  and content != ''"> and content = #{content}</if>
        </where>
    </select>
    
    <select id="selectOrderSiteMessageById" parameterType="Long" resultMap="OrderSiteMessageResult">
        <include refid="selectOrderSiteMessageVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrderSiteMessage" parameterType="OrderSiteMessage" useGeneratedKeys="true" keyProperty="id">
        insert into order_site_message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">title,</if>
            <if test="memberList != null and memberList != ''">member_list,</if>
            <if test="isEnabled != null">is_enabled,</if>
            <if test="createTime != null">create_time,</if>
            <if test="content != null and content != ''">content,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="title != null and title != ''">#{title},</if>
            <if test="memberList != null and memberList != ''">#{memberList},</if>
            <if test="isEnabled != null">#{isEnabled},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="content != null and content != ''">#{content},</if>
         </trim>
    </insert>

    <update id="updateOrderSiteMessage" parameterType="OrderSiteMessage">
        update order_site_message
        <trim prefix="SET" suffixOverrides=",">
            <if test="title != null and title != ''">title = #{title},</if>
            <if test="memberList != null and memberList != ''">member_list = #{memberList},</if>
            <if test="isEnabled != null">is_enabled = #{isEnabled},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="content != null and content != ''">content = #{content},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderSiteMessageById" parameterType="Long">
        delete from order_site_message where id = #{id}
    </delete>

    <delete id="deleteOrderSiteMessageByIds" parameterType="String">
        delete from order_site_message where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
