<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brushing.member.mapper.OrderMemberUserMapper">
    
    <resultMap type="OrderMemberUser" id="OrderMemberUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="phone"    column="phone"    />
        <result property="password"    column="password"    />
        <result property="tradePassword"    column="trade_password"    />
        <result property="parentId"    column="parent_id"    />
        <result property="avatar"    column="avatar"    />
        <result property="ancestors"    column="ancestors"    />
        <result property="email"    column="email"    />
        <result property="sex"    column="sex"    />
        <result property="creditScore"    column="credit_score"    />
        <result property="balance"    column="balance"    />
        <result property="frozenBalance"    column="frozen_balance"    />
        <result property="totalBalance"    column="total_balance"    />
        <result property="inviteCode"    column="invite_code"    />
        <result property="registerIp"    column="register_ip"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="accountStatus"    column="account_status"    />
        <result property="tradeStatus"    column="trade_status"    />
        <result property="withdrawStatus"    column="withdraw_status"    />
        <result property="realNameStatus"    column="real_name_status"    />
        <result property="realName"    column="real_name"    />
        <result property="idCardNumber"    column="id_card_number"    />
        <result property="idCardFront"    column="id_card_front"    />
        <result property="idCardBack"    column="id_card_back"    />
        <result property="withdrawName"    column="withdraw_name"    />
        <result property="withdrawAddress"    column="withdraw_address"    />
        <result property="withdrawType"    column="withdraw_type"    />
        <result property="createTime"    column="create_time"    />
        <result property="remark"    column="remark"    />
        <result property="isReal"    column="is_real"    />
        <result property="levelId"    column="level_id"    />
        <result property="commission"    column="commission"    />
        <result property="allCommission"    column="all_commission"    />
        <result property="dealCount"    column="deal_count"    />
        <result property="directSubCount"    column="direct_sub_count"    />
        <result property="allSubCount"    column="all_sub_count"    />
        <result property="todayWithdrawCount"    column="today_withdraw_count"    />
        <result property="totalWithdrawCount"    column="total_withdraw_count"    />
        <result property="todayResetCount"    column="today_reset_count"    />
        <result property="totalResetCount"    column="total_reset_count"    />
        <result property="withdrawTip"    column="withdraw_tip"    />
        <result property="parentUsername"    column="parent_username"    />
        <result property="parentPhone"    column="parent_phone"    />
        <result property="cardNumber"    column="card_number"    />
        <result property="cardAmount"    column="card_amount"    />
        <result property="version" column="version" />
        <result property="rechargeNeededForNextLevel"    column="recharge_needed_for_next_level"    />
        <association property="userLevel"     javaType="UserLevel"  resultMap="userLevelResult" />
    </resultMap>


    <resultMap type="OrderMemberLevel" id="userLevelResult">
        <result property="id"    column="levelId"    />
        <result property="icon"    column="icon"    />
        <result property="nameZh"    column="name_zh"    />
        <result property="nameEn"    column="name_en"    />
        <result property="price"    column="price"    />
        <result property="autoUpgradeInviteCount"    column="auto_upgrade_invite_count"    />
        <result property="commissionRatio"    column="commission_ratio"    />
        <result property="streakCommissionRatio"    column="streak_commission_ratio"    />
        <result property="minBalance"    column="min_balance"    />
        <result property="orderCount"    column="order_count"    />
        <result property="withdrawCount"    column="withdraw_count"    />
        <result property="withdrawLimit"    column="withdraw_limit"    />
        <result property="minWithdrawAmount"    column="min_withdraw_amount"    />
        <result property="maxWithdrawAmount"    column="max_withdraw_amount"    />
        <result property="withdrawFee"    column="withdraw_fee"    />
        <result property="withdrawOrderPerDay"    column="withdraw_order_per_day"    />
        <result property="descriptionZh"    column="description_zh"    />
        <result property="descriptionEn"    column="description_en"    />
        <result property="createTime"    column="levelTime"    />
    </resultMap>

    <sql id="selectOrderMemberUserVo">
        SELECT
        u.id,
        u.username,
        u.phone,
        u.password,
        u.trade_password,
        u.parent_id,
        u.avatar,
        u.ancestors,
        u.sex,
        u.email,
        u.credit_score,
        u.balance,
        u.frozen_balance,
        (u.balance + u.frozen_balance) AS total_balance,
        u.invite_code,
        u.register_ip,
        u.last_login_time,
        u.account_status,
        u.trade_status,
        u.withdraw_status,
        u.real_name_status,
        u.real_name,
        u.id_card_number,
        u.id_card_front,
        u.id_card_back,
        u.withdraw_name,
        u.withdraw_address,
        u.withdraw_type,
        u.create_time,
        u.remark,
        u.is_real,
        u.level_id,
        u.commission,
        u.all_commission,
        u.deal_count,
        u.card_number,
        u.card_amount,
        u.version,

        (
        SELECT COUNT(1)
        FROM order_withdrawal w
        WHERE w.user_id = u.id
        AND w.application_time <![CDATA[ >= ]]> CURDATE()
        AND w.application_time <![CDATA[ < ]]>  CURDATE() + INTERVAL 1 DAY
        ) AS today_withdraw_count,

        u.total_withdraw_count,
        u.today_reset_count,
        u.total_reset_count,
        u.withdraw_tip,

        -- 父级信息
        parent_user.username AS parent_username,
        parent_user.phone AS parent_phone,

        -- 直属下级数量
        (SELECT COUNT(1) FROM order_member_user d WHERE d.parent_id = u.id) AS direct_sub_count,

        -- 所有下级数量（使用 FIND_IN_SET 替代 LIKE）
        (SELECT COUNT(1) FROM order_member_user a WHERE FIND_IN_SET(u.id, a.ancestors)) AS all_sub_count,


        -- 等级信息
        l.id AS levelId,
        l.icon,
        l.name_zh,
        l.name_en,
        l.price,
        l.auto_upgrade_invite_count,
        l.commission_ratio,
        l.streak_commission_ratio,
        l.min_balance,
        l.order_count,
        l.withdraw_count,
        l.withdraw_limit,
        l.min_withdraw_amount,
        l.max_withdraw_amount,
        l.withdraw_fee,
        l.withdraw_order_per_day,
        l.description_zh,
        l.description_en,
        l.create_time AS levelTime,

        -- 使用当前余额作为累计充值金额
        u.balance AS total_recharge,

        -- 最大可达等级价格（小于等于当前余额）
        (SELECT MAX(l2.price)
        FROM order_member_level l2
        WHERE l2.price &lt;= u.balance
        ) AS max_level_price,

        -- 下一等级价格（大于最大可达等级的最小价格，如果无最大等级则取最小价格）
        (SELECT MIN(l2.price)
        FROM order_member_level l2
        WHERE l2.price &gt; COALESCE(
        (SELECT MAX(l3.price)
        FROM order_member_level l3
        WHERE l3.price &lt;= u.balance
        ),
        -1  -- 使用一个负值作为占位符，确保 > -1 总是取 MIN(price)
        )) AS next_level_price,

        -- 计算距离下一等级所需的充值金额
        COALESCE(
        (
        SELECT MIN(l2.price)
        FROM order_member_level l2
        WHERE l2.price &gt; COALESCE(
        (SELECT MAX(l3.price)
        FROM order_member_level l3
        WHERE l3.price &lt;= u.balance
        ),
        -1
        )
        ) - u.balance,
        0
        ) AS recharge_needed_for_next_level

        FROM
        order_member_user u
        LEFT JOIN
        order_member_level l ON u.level_id = l.id
        LEFT JOIN
        order_member_user parent_user ON u.parent_id = parent_user.id
    </sql>



    <select id="selectOrderMemberUserList" parameterType="OrderMemberUser" resultMap="OrderMemberUserResult">
        <include refid="selectOrderMemberUserVo"/>
        <where>
            <if test="username != null  and username != ''"> and u.username = #{username}</if>
            <if test="inviteCode != null  and inviteCode != ''"> and u.invite_code = #{inviteCode}</if>
            <if test="phone != null  and phone != ''">
                <if test="phone.length() == 4">
                    AND RIGHT(u.phone, 4) = #{phone}
                </if>
                <if test="phone.length() != 4">
                    AND u.phone = #{phone}
                </if>
            </if>
            <if test="isReal != null  and isReal != ''"> and u.is_real = #{isReal}</if>
            <if test="params.beginTime != null and params.beginTime != ''"><!-- 开始时间检索 -->
                AND date_format(u.create_time,'%Y%m%d') &gt;= date_format(#{params.beginTime},'%Y%m%d')
            </if>
            <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
                AND date_format(u.create_time,'%Y%m%d') &lt;= date_format(#{params.endTime},'%Y%m%d')
            </if>
            <if test="agentUserId != null and agentUserId != ''">
                AND (u.id = #{agentUserId} OR FIND_IN_SET(#{agentUserId}, u.ancestors))
            </if>
            <if test="forceNoResult != null and forceNoResult != ''">
                AND 1 = 0
            </if>
        </where>
        order by u.create_time desc
    </select>

    <select id="selectMembersByScope"  resultMap="OrderMemberUserResult">
        <include refid="selectOrderMemberUserVo"/>
        <where>
            <choose>
                <!-- 直属下级 -->
                <when test="scope == 'direct'">
                    u.parent_id = #{userId}
                </when>
                <!-- 所有下级（多级）：用 ancestors 路径命中，防止部分匹配 -->
                <when test="scope == 'all'">
                    CONCAT(',', IFNULL(u.ancestors, ''), ',') LIKE CONCAT('%,', #{userId}, ',%')
                </when>
                <!-- 默认：当 scope 为空时按直属下级处理 -->
                <otherwise>
                    u.parent_id = #{userId}
                </otherwise>
            </choose>
        </where>
        order by u.create_time desc
    </select>

    <select id="selectOrderMemberUserById" parameterType="Long" resultMap="OrderMemberUserResult">
        <include refid="selectOrderMemberUserVo"/>
        where u.id = #{id}
    </select>

    <select id="selectOrderMemberUser" parameterType="Long" resultMap="OrderMemberUserResult">
        SELECT
        u.id,
        u.username,
        u.phone,
        u.password,
        u.trade_password,
        u.parent_id,
        u.avatar,
        u.ancestors,
        u.sex,
        u.email,
        u.credit_score,
        u.balance,
        u.frozen_balance,
        (u.balance + u.frozen_balance) AS total_balance,
        u.invite_code,
        u.register_ip,
        u.last_login_time,
        u.account_status,
        u.trade_status,
        u.withdraw_status,
        u.real_name_status,
        u.real_name,
        u.id_card_number,
        u.id_card_front,
        u.id_card_back,
        u.withdraw_name,
        u.withdraw_address,
        u.withdraw_type,
        u.create_time,
        u.remark,
        u.is_real,
        u.level_id,
        u.commission,
        u.all_commission,
        u.deal_count,
        u.card_number,
        u.version,
        u.card_amount
        FROM
        order_member_user u
        where u.id = #{id}
    </select>

    <select id="selectOrderMemberUserByInCode" parameterType="String" resultMap="OrderMemberUserResult">
        <include refid="selectOrderMemberUserVo"/>
        where u.invite_code = #{inviteCode}
    </select>

    <select id="findByUsername" parameterType="String" resultMap="OrderMemberUserResult">
        <include refid="selectOrderMemberUserVo"/>
        where u.username = #{username}
    </select>

    <select id="selectSubUsers" parameterType="map" resultMap="OrderMemberUserResult">
        SELECT *
        FROM order_member_user
        <where>
            <if test="isDirect">
                parent_id = #{userId}
            </if>
            <if test="!isDirect">
                FIND_IN_SET(#{userId}, ancestors)
            </if>
        </where>
        ORDER BY create_time DESC
    </select>

    <select id="selectAllUser" resultMap="OrderMemberUserResult">
        SELECT
        u.id,
        u.username,
        u.phone,
        u.password,
        u.trade_password,
        u.parent_id,
        u.avatar,
        u.ancestors,
        u.sex,
        u.email,
        u.credit_score,
        u.balance,
        u.frozen_balance,
        (u.balance + u.frozen_balance) AS total_balance,
        u.invite_code,
        u.last_login_time,
        u.account_status,
        u.trade_status,
        u.withdraw_status,
        u.real_name_status,
        u.real_name,
        u.id_card_number,
        u.id_card_front,
        u.id_card_back,
        u.withdraw_name,
        u.withdraw_address,
        u.withdraw_type,
        u.create_time,
        u.remark,
        u.is_real,
        u.level_id,
        u.commission,
        u.all_commission,
        u.register_ip,
        u.deal_count,
        u.card_number,
        u.version,
        u.card_amount
        FROM
        order_member_user u
    </select>

    <select id="existsPhone" parameterType="String" resultType="boolean">
        SELECT EXISTS(
            SELECT 1
            FROM order_member_user
            WHERE phone = #{phone}
        )
    </select>



    <insert id="insertOrderMemberUser" parameterType="OrderMemberUser" useGeneratedKeys="true" keyProperty="id">
        insert into order_member_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">username,</if>
            <if test="phone != null and phone != ''">phone,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="tradePassword != null and tradePassword != ''">trade_password,</if>
            <if test="parentId != null">parent_id,</if>
            <if test="avatar != null">avatar,</if>
            <if test="ancestors != null">ancestors,</if>
            <if test="email != null">email,</if>
            <if test="sex != null">sex,</if>
            <if test="creditScore != null">credit_score,</if>
            <if test="balance != null">balance,</if>
            <if test="frozenBalance != null">frozen_balance,</if>
            <if test="totalBalance != null">total_balance,</if>
            <if test="inviteCode != null">invite_code,</if>
            <if test="registerIp != null">register_ip,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="accountStatus != null">account_status,</if>
            <if test="tradeStatus != null">trade_status,</if>
            <if test="withdrawStatus != null">withdraw_status,</if>
            <if test="realNameStatus != null">real_name_status,</if>
            <if test="realName != null">real_name,</if>
            <if test="idCardNumber != null">id_card_number,</if>
            <if test="idCardFront != null">id_card_front,</if>
            <if test="idCardBack != null">id_card_back,</if>
            <if test="withdrawName != null">withdraw_name,</if>
            <if test="withdrawAddress != null">withdraw_address,</if>
            <if test="withdrawType != null">withdraw_type,</if>
            <if test="createTime != null">create_time,</if>
            <if test="remark != null">remark,</if>
            <if test="isReal != null">is_real,</if>
            <if test="levelId != null">level_id,</if>
            <if test="commission != null">commission,</if>
            <if test="allCommission != null">all_commission,</if>
            <if test="dealCount != null">deal_count,</if>
            <if test="todayWithdrawCount != null">today_withdraw_count,</if>
            <if test="totalWithdrawCount != null">total_withdraw_count,</if>
            <if test="todayResetCount != null">today_reset_count,</if>
            <if test="totalResetCount != null">total_reset_count,</if>
            <if test="withdrawTip != null">withdraw_tip,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null and username != ''">#{username},</if>
            <if test="phone != null and phone != ''">#{phone},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="tradePassword != null and tradePassword != ''">#{tradePassword},</if>
            <if test="parentId != null">#{parentId},</if>
            <if test="avatar != null">#{avatar},</if>
            <if test="ancestors != null">#{ancestors},</if>
            <if test="email != null">#{email},</if>
            <if test="sex != null">#{sex},</if>
            <if test="creditScore != null">#{creditScore},</if>
            <if test="balance != null">#{balance},</if>
            <if test="frozenBalance != null">#{frozenBalance},</if>
            <if test="totalBalance != null">#{totalBalance},</if>
            <if test="inviteCode != null">#{inviteCode},</if>
            <if test="registerIp != null">#{registerIp},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="accountStatus != null">#{accountStatus},</if>
            <if test="tradeStatus != null">#{tradeStatus},</if>
            <if test="withdrawStatus != null">#{withdrawStatus},</if>
            <if test="realNameStatus != null">#{realNameStatus},</if>
            <if test="realName != null">#{realName},</if>
            <if test="idCardNumber != null">#{idCardNumber},</if>
            <if test="idCardFront != null">#{idCardFront},</if>
            <if test="idCardBack != null">#{idCardBack},</if>
            <if test="withdrawName != null">#{withdrawName},</if>
            <if test="withdrawAddress != null">#{withdrawAddress},</if>
            <if test="withdrawType != null">#{withdrawType},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="isReal != null">#{isReal},</if>
            <if test="levelId != null">#{levelId},</if>
            <if test="commission != null">#{commission},</if>
            <if test="allCommission != null">#{allCommission},</if>
            <if test="dealCount != null">#{dealCount},</if>
            <if test="todayWithdrawCount != null">#{todayWithdrawCount},</if>
            <if test="totalWithdrawCount != null">#{totalWithdrawCount},</if>
            <if test="todayResetCount != null">#{todayResetCount},</if>
            <if test="totalResetCount != null">#{totalResetCount},</if>
            <if test="withdrawTip != null">#{withdrawTip},</if>
         </trim>
    </insert>

    <update id="updateOrderMemberUser" parameterType="OrderMemberUser">
        update order_member_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null and username != ''">username = #{username},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="tradePassword != null and tradePassword != ''">trade_password = #{tradePassword},</if>
            <if test="parentId != null">parent_id = #{parentId},</if>
            <if test="avatar != null">avatar = #{avatar},</if>
            <if test="ancestors != null">ancestors = #{ancestors},</if>
            <if test="email != null">email = #{email},</if>
            <if test="sex != null">sex = #{sex},</if>
            <if test="creditScore != null">credit_score = #{creditScore},</if>
            <if test="balance != null">balance = #{balance},</if>
            <if test="frozenBalance != null">frozen_balance = #{frozenBalance},</if>
            <if test="totalBalance != null">total_balance = #{totalBalance},</if>
            <if test="inviteCode != null">invite_code = #{inviteCode},</if>
            <if test="registerIp != null">register_ip = #{registerIp},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="accountStatus != null">account_status = #{accountStatus},</if>
            <if test="tradeStatus != null">trade_status = #{tradeStatus},</if>
            <if test="withdrawStatus != null">withdraw_status = #{withdrawStatus},</if>
            <if test="realNameStatus != null">real_name_status = #{realNameStatus},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="idCardNumber != null">id_card_number = #{idCardNumber},</if>
            <if test="idCardFront != null">id_card_front = #{idCardFront},</if>
            <if test="idCardBack != null">id_card_back = #{idCardBack},</if>
            <if test="withdrawName != null">withdraw_name = #{withdrawName},</if>
            <if test="withdrawAddress != null">withdraw_address = #{withdrawAddress},</if>
            <if test="withdrawType != null">withdraw_type = #{withdrawType},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="isReal != null">is_real = #{isReal},</if>
            <if test="levelId != null">level_id = #{levelId},</if>
            <if test="commission != null">commission = #{commission},</if>
            <if test="allCommission != null">all_commission = #{allCommission},</if>
            <if test="dealCount != null">deal_count = #{dealCount},</if>
            <if test="todayWithdrawCount != null">today_withdraw_count = #{todayWithdrawCount},</if>
            <if test="totalWithdrawCount != null">total_withdraw_count = #{totalWithdrawCount},</if>
            <if test="todayResetCount != null">today_reset_count = #{todayResetCount},</if>
            <if test="totalResetCount != null">total_reset_count = #{totalResetCount},</if>
            <if test="withdrawTip != null">withdraw_tip = #{withdrawTip},</if>
            <if test="cardNumber != null">card_number = #{cardNumber},</if>
            <if test="cardAmount != null">card_amount = #{cardAmount},</if>
            <if test="version != null">version = version + 1,</if>
        </trim>
        where id = #{id} AND version = #{version}
    </update>

    <update id="resetTodayCounts">
        UPDATE order_member_user
        SET today_withdraw_count = 0,
        today_reset_count = 0 ,commission = 0
    </update>

    <update id="updateUserLevel">
        UPDATE order_member_user
        SET level_id = #{levelId}
        WHERE id = #{id}
    </update>

    <update id="updateUserAddress" parameterType="OrderMemberUser">
        UPDATE order_member_user
        SET register_ip = #{registerIp}
        WHERE id = #{id}
    </update>

    <update id="updateChildrenAncestors">
        UPDATE order_member_user
        SET ancestors = REPLACE(ancestors, #{oldAncestors}, #{newAncestors})
        WHERE ancestors LIKE CONCAT(#{oldAncestors}, ',%')
    </update>


    <delete id="deleteOrderMemberUserById" parameterType="Long">
        delete from order_member_user where id = #{id}
    </delete>

    <delete id="deleteOrderMemberUserByIds" parameterType="String">
        delete from order_member_user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>
