<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brushing.member.mapper.OrderBankWalletMapper">
    
    <resultMap type="OrderBankWallet" id="OrderBankWalletResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="type"    column="type"    />
        <result property="name"    column="name"    />
        <result property="bankCode"    column="bank_code"    />
        <result property="bankCard"    column="bank_card"    />
        <result property="walletType"    column="wallet_type"    />
        <result property="bankType"    column="bank_type"    />
        <result property="walletAddress"    column="wallet_address"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOrderBankWalletVo">
        select id, user_id, type, name, bank_code, bank_card, wallet_type,bank_type,
        wallet_address, create_time from order_bank_wallet
    </sql>

    <select id="selectOrderBankWalletList" parameterType="OrderBankWallet" resultMap="OrderBankWalletResult">
        <include refid="selectOrderBankWalletVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="bankCode != null  and bankCode != ''"> and bank_code = #{bankCode}</if>
            <if test="bankCard != null  and bankCard != ''"> and bank_card = #{bankCard}</if>
            <if test="walletType != null  and walletType != ''"> and wallet_type = #{walletType}</if>
            <if test="walletAddress != null  and walletAddress != ''"> and wallet_address = #{walletAddress}</if>
        </where>
    </select>
    
    <select id="selectOrderBankWalletById" parameterType="Long" resultMap="OrderBankWalletResult">
        <include refid="selectOrderBankWalletVo"/>
        where id = #{id}
    </select>

    <insert id="insertOrderBankWallet" parameterType="OrderBankWallet" useGeneratedKeys="true" keyProperty="id">
        insert into order_bank_wallet
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="type != null">type,</if>
            <if test="name != null">name,</if>
            <if test="bankCode != null">bank_code,</if>
            <if test="bankCard != null">bank_card,</if>
            <if test="walletType != null">wallet_type,</if>
            <if test="bankType != null">bank_type,</if>
            <if test="walletAddress != null">wallet_address,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="type != null">#{type},</if>
            <if test="name != null">#{name},</if>
            <if test="bankCode != null">#{bankCode},</if>
            <if test="bankCard != null">#{bankCard},</if>
            <if test="walletType != null">#{walletType},</if>
            <if test="bankType != null">#{bankType},</if>
            <if test="walletAddress != null">#{walletAddress},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateOrderBankWallet" parameterType="OrderBankWallet">
        update order_bank_wallet
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="type != null">type = #{type},</if>
            <if test="name != null">name = #{name},</if>
            <if test="bankCode != null">bank_code = #{bankCode},</if>
            <if test="bankCard != null">bank_card = #{bankCard},</if>
            <if test="walletType != null">wallet_type = #{walletType},</if>
            <if test="bankType != null">bank_type = #{bankType},</if>
            <if test="walletAddress != null">wallet_address = #{walletAddress},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderBankWalletById" parameterType="Long">
        delete from order_bank_wallet where id = #{id}
    </delete>

    <delete id="deleteOrderBankWalletByIds" parameterType="String">
        delete from order_bank_wallet where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
