<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brushing.member.mapper.OrderWithdrawalMapper">

    <resultMap type="OrderWithdrawal" id="OrderWithdrawalResult">
        <!-- 提现相关字段 -->
        <result property="id" column="id" />
        <result property="userId" column="user_id" />
        <result property="code" column="code" />
        <result property="amount" column="amount" />
        <result property="creditedAmount" column="credited_amount" />
        <result property="fee" column="fee" />
        <result property="applicationTime" column="application_time" />
        <result property="auditTime" column="audit_time" />
        <result property="remark" column="remark" />
        <result property="status" column="status" />
        <result property="withdrawName" column="withdraw_name" />
        <result property="withdrawAddress" column="withdraw_address" />
        <result property="withdrawType" column="withdraw_type" />
        <result property="withdrawFee" column="withdraw_fee" />
        <!-- 当前用户字段 -->
        <result property="username" column="username" />
        <result property="phone" column="phone" />
        <result property="userRemark" column="user_remark" />
        <result property="isReal" column="is_real" />
        <!-- 上级用户字段 -->
        <result property="parentUsername" column="parent_username" />
        <result property="parentPhone" column="parent_phone" />
        <!-- 当日订单数和提现次数 -->
        <result property="dailyOrderCount" column="daily_order_count" />
        <result property="dailyWithdrawalCount" column="daily_withdrawal_count" />
    </resultMap>

    <sql id="selectOrderWithdrawalVo">
        SELECT
        w.id,
        w.user_id,
        w.code,
        w.amount,
        w.credited_amount,
        w.fee,
        w.application_time,
        w.audit_time,
        w.remark,
        w.status,
        w.withdraw_name,
        w.withdraw_address,
        w.withdraw_type,
        w.withdraw_fee,
        u.id AS user_id,
        u.username,
        u.phone,
        u.parent_id,
        u.remark AS user_remark,
        u.is_real,
        pu.username AS parent_username,
        pu.phone AS parent_phone,
        (SELECT COUNT(*)
        FROM order_info oi
        WHERE oi.user_id = w.user_id
        AND DATE(oi.create_time) = CURDATE()) AS daily_order_count,
        (SELECT COUNT(*)
        FROM order_withdrawal ow
        WHERE ow.user_id = w.user_id
        AND DATE(ow.application_time) = CURDATE()) AS daily_withdrawal_count
        FROM order_withdrawal w
        LEFT JOIN order_member_user u ON u.id = w.user_id
        LEFT JOIN order_member_user pu ON u.parent_id = pu.id
    </sql>

    <select id="selectOrderWithdrawalList" parameterType="OrderWithdrawal" resultMap="OrderWithdrawalResult">
        <include refid="selectOrderWithdrawalVo"/>
        <where>
            <if test="userId != null  and userId != ''"> and w.user_id = #{userId}</if>
            <if test="code != null  and code != ''"> and w.code = #{code}</if>
            <if test="status != null  and status != ''"> and w.status = #{status}</if>
            <if test="isReal != null  and isReal != ''"> and u.is_real = #{isReal}</if>
        </where>
        order by
        CASE
        WHEN w.status = 1 THEN 0
        ELSE 1
        END,
        w.application_time DESC
    </select>
    
    <select id="selectOrderWithdrawalById" parameterType="Long" resultMap="OrderWithdrawalResult">
        <include refid="selectOrderWithdrawalVo"/>
        where w.id = #{id}
    </select>

    <select id="selectOrderWithdrawalByUserId" parameterType="Long" resultMap="OrderWithdrawalResult">
        select id,user_id, code, amount, credited_amount, fee, application_time, audit_time, remark, status ,withdraw_name,withdraw_address,withdraw_type
        from order_withdrawal
        where user_id = #{userId} and status = 1
    </select>
    <select id="selectOrderWithdrawalByCode" parameterType="String" resultMap="OrderWithdrawalResult">
        select id,user_id, code, amount, credited_amount, fee, application_time, audit_time, remark, status ,withdraw_name,withdraw_address,withdraw_type
        from order_withdrawal
        where code = #{code}
    </select>


    <select id="countStatusOneInOrderWithdrawal" resultType="int">
        SELECT COUNT(*)
        FROM order_withdrawal
        WHERE status = 1
    </select>

    <insert id="insertOrderWithdrawal" parameterType="OrderWithdrawal" useGeneratedKeys="true" keyProperty="id">
        insert into order_withdrawal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">code,</if>
            <if test="userId != null and userId != ''">user_id,</if>
            <if test="amount != null">amount,</if>
            <if test="creditedAmount != null">credited_amount,</if>
            <if test="fee != null">fee,</if>
            <if test="applicationTime != null">application_time,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="remark != null">remark,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="withdrawName != null">withdraw_name,</if>
            <if test="withdrawAddress != null">withdraw_address,</if>
            <if test="withdrawType != null">withdraw_type,</if>
            <if test="withdrawFee != null">withdraw_fee,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="code != null and code != ''">#{code},</if>
            <if test="userId != null and userId != ''">#{userId},</if>
            <if test="amount != null">#{amount},</if>
            <if test="creditedAmount != null">#{creditedAmount},</if>
            <if test="fee != null">#{fee},</if>
            <if test="applicationTime != null">#{applicationTime},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="withdrawName != null">#{withdrawName},</if>
            <if test="withdrawAddress != null">#{withdrawAddress},</if>
            <if test="withdrawType != null">#{withdrawType},</if>
            <if test="withdrawFee != null">#{withdrawFee},</if>
         </trim>
    </insert>

    <update id="updateOrderWithdrawal" parameterType="OrderWithdrawal">
        update order_withdrawal
        <trim prefix="SET" suffixOverrides=",">
            <if test="code != null and code != ''">code = #{code},</if>
            <if test="amount != null">amount = #{amount},</if>
            <if test="creditedAmount != null">credited_amount = #{creditedAmount},</if>
            <if test="fee != null">fee = #{fee},</if>
            <if test="applicationTime != null">application_time = #{applicationTime},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="status != null and status != ''">status = #{status},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderWithdrawalById" parameterType="Long">
        delete from order_withdrawal where id = #{id}
    </delete>

    <delete id="deleteOrderWithdrawalByIds" parameterType="String">
        delete from order_withdrawal where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
