<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.brushing.member.mapper.OrderMemberLevelMapper">
    
    <resultMap type="OrderMemberLevel" id="OrderMemberLevelResult">
        <result property="id"    column="id"    />
        <result property="icon"    column="icon"    />
        <result property="nameZh"    column="name_zh"    />
        <result property="nameEn"    column="name_en"    />
        <result property="price"    column="price"    />
        <result property="autoUpgradeInviteCount"    column="auto_upgrade_invite_count"    />
        <result property="commissionRatio"    column="commission_ratio"    />
        <result property="streakCommissionRatio"    column="streak_commission_ratio"    />
        <result property="minBalance"    column="min_balance"    />
        <result property="orderCount"    column="order_count"    />
        <result property="withdrawCount"    column="withdraw_count"    />
        <result property="withdrawLimit"    column="withdraw_limit"    />
        <result property="minWithdrawAmount"    column="min_withdraw_amount"    />
        <result property="maxWithdrawAmount"    column="max_withdraw_amount"    />
        <result property="withdrawFee"    column="withdraw_fee"    />
        <result property="withdrawOrderPerDay"    column="withdraw_order_per_day"    />
        <result property="descriptionZh"    column="description_zh"    />
        <result property="descriptionEn"    column="description_en"    />
        <result property="descriptionJa"    column="description_ja"    />
        <result property="descriptionTh"    column="description_th"    />
        <result property="descriptionKo"    column="description_ko"    />
        <result property="descriptionPor"    column="description_por"    />
        <result property="descriptionEs"    column="description_es"    />
        <result property="descriptionZhTw"    column="description_zh_tw"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectOrderMemberLevelVo">
        select id, icon, name_zh, name_en, price,
        auto_upgrade_invite_count, commission_ratio,
        streak_commission_ratio, min_balance, order_count,
        withdraw_count, withdraw_limit, min_withdraw_amount,
        max_withdraw_amount, withdraw_fee, withdraw_order_per_day,
        description_zh, description_en,description_ja,description_th,description_ko,description_zh_tw,description_por,description_es,
        create_time from order_member_level
    </sql>

    <select id="selectOrderMemberLevelList" parameterType="OrderMemberLevel" resultMap="OrderMemberLevelResult">
        <include refid="selectOrderMemberLevelVo"/>
        <where>  
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="nameZh != null  and nameZh != ''"> and name_zh = #{nameZh}</if>
            <if test="nameEn != null  and nameEn != ''"> and name_en = #{nameEn}</if>
            <if test="price != null "> and price = #{price}</if>
            <if test="autoUpgradeInviteCount != null "> and auto_upgrade_invite_count = #{autoUpgradeInviteCount}</if>
            <if test="commissionRatio != null "> and commission_ratio = #{commissionRatio}</if>
            <if test="streakCommissionRatio != null "> and streak_commission_ratio = #{streakCommissionRatio}</if>
            <if test="minBalance != null "> and min_balance = #{minBalance}</if>
            <if test="orderCount != null "> and order_count = #{orderCount}</if>
            <if test="withdrawCount != null "> and withdraw_count = #{withdrawCount}</if>
            <if test="withdrawLimit != null "> and withdraw_limit = #{withdrawLimit}</if>
            <if test="minWithdrawAmount != null "> and min_withdraw_amount = #{minWithdrawAmount}</if>
            <if test="maxWithdrawAmount != null "> and max_withdraw_amount = #{maxWithdrawAmount}</if>
            <if test="withdrawFee != null "> and withdraw_fee = #{withdrawFee}</if>
            <if test="withdrawOrderPerDay != null "> and withdraw_order_per_day = #{withdrawOrderPerDay}</if>
            <if test="descriptionZh != null  and descriptionZh != ''"> and description_zh = #{descriptionZh}</if>
            <if test="descriptionEn != null  and descriptionEn != ''"> and description_en = #{descriptionEn}</if>
        </where>

    </select>
    
    <select id="selectOrderMemberLevelById" parameterType="Long" resultMap="OrderMemberLevelResult">
        <include refid="selectOrderMemberLevelVo"/>
        where id = #{id}
    </select>



    <select id="selectLowestPriceLevel" resultMap="OrderMemberLevelResult">
        <include refid="selectOrderMemberLevelVo"/>
        order by price asc
        limit 1
    </select>

    <!-- 根据 balance 查询对应的会员等级 -->
    <select id="findLevelByBalance" parameterType="java.math.BigDecimal" resultMap="OrderMemberLevelResult">
        SELECT
        id, icon, name_zh, name_en, price, auto_upgrade_invite_count,
        commission_ratio, streak_commission_ratio, min_balance, order_count,
        withdraw_count, withdraw_limit, min_withdraw_amount, max_withdraw_amount,
        withdraw_fee, withdraw_order_per_day, description_zh, description_en, create_time
        FROM
        order_member_level
        WHERE
        price &lt;= #{balance}
        UNION
        SELECT
        id, icon, name_zh, name_en, price, auto_upgrade_invite_count,
        commission_ratio, streak_commission_ratio, min_balance, order_count,
        withdraw_count, withdraw_limit, min_withdraw_amount, max_withdraw_amount,
        withdraw_fee, withdraw_order_per_day, description_zh, description_en, create_time
        FROM
        order_member_level
        WHERE
        price = (SELECT MIN(price) FROM order_member_level)
        AND NOT EXISTS (
        SELECT 1 FROM order_member_level WHERE price &lt;= #{balance}
        )
        ORDER BY
        price DESC
        LIMIT 1
    </select>

    <select id="selectLevelById" parameterType="Long" resultType="int">
        SELECT level_rank
        FROM (
        SELECT id, ROW_NUMBER() OVER (ORDER BY price ASC) AS level_rank
        FROM order_member_level
        ) ranked_levels
        WHERE id = #{id}
    </select>

    <select id="selectLevelByRank" parameterType="int" resultMap="OrderMemberLevelResult">
        SELECT id, icon, name_zh, name_en, price,
               auto_upgrade_invite_count, commission_ratio,
               streak_commission_ratio, min_balance, order_count,
               withdraw_count, withdraw_limit, min_withdraw_amount,
               max_withdraw_amount, withdraw_fee, withdraw_order_per_day,
               description_zh, description_en, description_ja, description_th,
               description_ko, description_zh_tw, description_por, description_es,
               create_time
        FROM (
                 SELECT id, icon, name_zh, name_en, price,
                        auto_upgrade_invite_count, commission_ratio,
                        streak_commission_ratio, min_balance, order_count,
                        withdraw_count, withdraw_limit, min_withdraw_amount,
                        max_withdraw_amount, withdraw_fee, withdraw_order_per_day,
                        description_zh, description_en, description_ja, description_th,
                        description_ko, description_zh_tw, description_por, description_es,
                        create_time,
                        ROW_NUMBER() OVER (ORDER BY price ASC) AS level_rank
                 FROM order_member_level
             ) ranked_levels
        WHERE level_rank = #{rank}
    </select>


    <insert id="insertOrderMemberLevel" parameterType="OrderMemberLevel" useGeneratedKeys="true" keyProperty="id">
        insert into order_member_level
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="icon != null and icon != ''">icon,</if>
            <if test="nameZh != null and nameZh != ''">name_zh,</if>
            <if test="nameEn != null and nameEn != ''">name_en,</if>
            <if test="price != null">price,</if>
            <if test="autoUpgradeInviteCount != null">auto_upgrade_invite_count,</if>
            <if test="commissionRatio != null">commission_ratio,</if>
            <if test="streakCommissionRatio != null">streak_commission_ratio,</if>
            <if test="minBalance != null">min_balance,</if>
            <if test="orderCount != null">order_count,</if>
            <if test="withdrawCount != null">withdraw_count,</if>
            <if test="withdrawLimit != null">withdraw_limit,</if>
            <if test="minWithdrawAmount != null">min_withdraw_amount,</if>
            <if test="maxWithdrawAmount != null">max_withdraw_amount,</if>
            <if test="withdrawFee != null">withdraw_fee,</if>
            <if test="withdrawOrderPerDay != null">withdraw_order_per_day,</if>
            <if test="descriptionZh != null and descriptionZh != ''">description_zh,</if>
            <if test="descriptionEn != null and descriptionEn != ''">description_en,</if>
            <if test="createTime != null">create_time,</if>
            <if test="descriptionJa != null and descriptionJa != ''">description_ja,</if>
            <if test="descriptionTh != null and descriptionTh != ''">description_th,</if>
            <if test="descriptionKo != null and descriptionKo != ''">description_ko,</if>
            <if test="descriptionZhTw != null and descriptionZhTw != ''">description_zh_tw,</if>
            <if test="descriptionPor != null and descriptionPor != ''">description_por,</if>
            <if test="descriptionEs != null and descriptionEs != ''">description_es,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="nameZh != null and nameZh != ''">#{nameZh},</if>
            <if test="nameEn != null and nameEn != ''">#{nameEn},</if>
            <if test="price != null">#{price},</if>
            <if test="autoUpgradeInviteCount != null">#{autoUpgradeInviteCount},</if>
            <if test="commissionRatio != null">#{commissionRatio},</if>
            <if test="streakCommissionRatio != null">#{streakCommissionRatio},</if>
            <if test="minBalance != null">#{minBalance},</if>
            <if test="orderCount != null">#{orderCount},</if>
            <if test="withdrawCount != null">#{withdrawCount},</if>
            <if test="withdrawLimit != null">#{withdrawLimit},</if>
            <if test="minWithdrawAmount != null">#{minWithdrawAmount},</if>
            <if test="maxWithdrawAmount != null">#{maxWithdrawAmount},</if>
            <if test="withdrawFee != null">#{withdrawFee},</if>
            <if test="withdrawOrderPerDay != null">#{withdrawOrderPerDay},</if>
            <if test="descriptionZh != null and descriptionZh != ''">#{descriptionZh},</if>
            <if test="descriptionEn != null and descriptionEn != ''">#{descriptionEn},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="descriptionJa != null and descriptionJa != ''">#{descriptionJa},</if>
            <if test="descriptionTh != null and descriptionTh != ''">#{descriptionTh},</if>
            <if test="descriptionKo != null and descriptionKo != ''">#{descriptionKo},</if>
            <if test="descriptionZhTw != null and descriptionZhTw != ''">#{descriptionZhTw},</if>
            <if test="descriptionPor != null and descriptionPor != ''">#{descriptionPor},</if>
            <if test="descriptionEs != null and descriptionEs != ''">#{descriptionEs},</if>
        </trim>
    </insert>

    <update id="updateOrderMemberLevel" parameterType="OrderMemberLevel">
        update order_member_level
        <trim prefix="SET" suffixOverrides=",">
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="nameZh != null and nameZh != ''">name_zh = #{nameZh},</if>
            <if test="nameEn != null and nameEn != ''">name_en = #{nameEn},</if>
            <if test="price != null">price = #{price},</if>
            <if test="autoUpgradeInviteCount != null">auto_upgrade_invite_count = #{autoUpgradeInviteCount},</if>
            <if test="commissionRatio != null">commission_ratio = #{commissionRatio},</if>
            <if test="streakCommissionRatio != null">streak_commission_ratio = #{streakCommissionRatio},</if>
            <if test="minBalance != null">min_balance = #{minBalance},</if>
            <if test="orderCount != null">order_count = #{orderCount},</if>
            <if test="withdrawCount != null">withdraw_count = #{withdrawCount},</if>
            <if test="withdrawLimit != null">withdraw_limit = #{withdrawLimit},</if>
            <if test="minWithdrawAmount != null">min_withdraw_amount = #{minWithdrawAmount},</if>
            <if test="maxWithdrawAmount != null">max_withdraw_amount = #{maxWithdrawAmount},</if>
            <if test="withdrawFee != null">withdraw_fee = #{withdrawFee},</if>
            <if test="withdrawOrderPerDay != null">withdraw_order_per_day = #{withdrawOrderPerDay},</if>
            <if test="descriptionZh != null and descriptionZh != ''">description_zh = #{descriptionZh},</if>
            <if test="descriptionEn != null and descriptionEn != ''">description_en = #{descriptionEn},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="descriptionJa != null and descriptionJa != ''">description_ja = #{descriptionJa},</if>
            <if test="descriptionTh != null and descriptionTh != ''">description_th = #{descriptionTh},</if>
            <if test="descriptionKo != null and descriptionKo != ''">description_ko = #{descriptionKo},</if>
            <if test="descriptionZhTw != null and descriptionZhTw != ''">description_zh_tw = #{descriptionZhTw},</if>
            <if test="descriptionPor != null and descriptionPor != ''">description_por = #{descriptionPor},</if>
            <if test="descriptionEs != null and descriptionEs != ''">description_es = #{descriptionEs},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteOrderMemberLevelById" parameterType="Long">
        delete from order_member_level where id = #{id}
    </delete>

    <delete id="deleteOrderMemberLevelByIds" parameterType="String">
        delete from order_member_level where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
