@use './variables.module.scss' as vars;

#app {
  .main-container {
    min-height: 100%;
    transition: margin-left .28s;
    margin-left: vars.$base-sidebar-width;
    position: relative;
  }

  .sidebarHide {
    margin-left: 0 !important;
  }

  .sidebar-container {
    transition: width 0.28s, transform 0.28s;
    width: vars.$base-sidebar-width !important;
    height: 100%;
    position: fixed;
    font-size: 0;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 800;
    overflow: hidden;
    background: var(--sidebar-bg);
    border-right: 0;
    border-top: 0;
    box-shadow: none;

    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }

    .svg-icon {
      margin-right: 10px;
      font-size: 14px;
      color: inherit;
    }
  }

  .topNavMode {
    .layout-header {
      margin-left: calc(-1 * #{vars.$base-sidebar-width});
      width: calc(100% + #{vars.$base-sidebar-width});
    }

    .fixed-header {
      z-index: 820;
      width: 100% !important;
      left: 0;
      right: 0;
      margin-left: 0;
      pointer-events: none;
    }

    .navbar,
    .tags-view-container {
      pointer-events: auto;
    }

    .sidebar-container {
      top: 56px;
      height: calc(100% - 56px);
      z-index: 800;
    }

    .main-container {
      margin-left: vars.$base-sidebar-width;
    }

    .tags-view-container {
      margin-left: vars.$base-sidebar-width;
      width: calc(100% - #{vars.$base-sidebar-width});
    }

    &.hideSidebar {
      .layout-header {
        margin-left: -54px;
        width: calc(100% + 54px);
      }

      .fixed-header {
        margin-left: 0;
        width: 100% !important;
      }

      .main-container {
        margin-left: 54px;
      }

      .tags-view-container {
        margin-left: 54px;
        width: calc(100% - 54px);
      }
    }

    &.sidebarHide {
      .layout-header {
        margin-left: 0;
        width: 100%;
      }

      .main-container,
      .tags-view-container {
        margin-left: 0;
      }

      .tags-view-container {
        width: 100%;
      }
    }
  }

  .hideSidebar {
    .sidebar-container {
      width: 54px !important;
    }

    .main-container {
      margin-left: 54px;
    }
  }

  .mobile {
    .main-container {
      margin-left: 0;
    }

    .sidebar-container {
      transition: transform .28s;
      width: vars.$base-sidebar-width !important;
    }

    &.hideSidebar {
      .sidebar-container {
        pointer-events: none;
        transition-duration: 0.3s;
        transform: translate3d(-#{vars.$base-sidebar-width}, 0, 0);
      }
    }
  }

  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}
